@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  border: 2px solid black;
  font-family: "Roboto Slab", serif;
  margin: 5px;
  height: 900px;
}
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}
.bold {
  font-weight: bold;
}
.clg-logo {
  width: 250px;
  height: 60px;
}
.seat-no-container {
  display: flex;
  flex-direction: column;
}
.seat-no {
  border: 1px solid black;
  padding: 10px;
  width: 180px;
  height: 15px;
  text-align: center;
}
.clg-and-exam-name-container {
  text-align: center;
  line-height: 20px;
}
.clg-name {
  color: red;
  font-size: 15px;
}
.exam-name {
  font-size: 15px;
}
.examiner-detail {
  padding-top: 20px;
  margin: 7px;
}
.examiner-detail-table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: start;
  font-size: 12px;
}
.examiner-detail-table th{
  font-family: 'Roboto',sans-serif;
}

.photo {
  width: 120px;
  text-align: center;
}
.exam-detail {
  padding-top: 5px;
  margin: 7px;
}
.exam-time-table {
  width: 100%;
}
.exam-heading th {
  text-align: center;
}
.exam-time-table td {
  font-family: 'Roboto',sans-serif;
}
.signature-column {
  width: 100px;
}
.center {
  text-align: center;
}
.bottom-sign-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  align-items: end;
}
.exam-controller-sign {
  height: 30px;
}
.print-section{
  display: flex;
  justify-content: center;
}
.print-btn{
  height: 40px;
  width: 100px;
  border-radius: 8px;
  background-color: #00bbff;
}

@media print{
  .print-btn{
    display: none;
  }

